<svg #dots class="dots">
  <ng-container *ngIf="state === InteractionState.NONE">
    <ng-container
      *ngFor="let datum of cursoredData; trackBy: trackBySeriesName"
    >
      <circle
        *ngIf="datum.point"
        [attr.cx]="getDomX(datum.point.x)"
        [attr.cy]="getDomY(datum.point.y)"
        [attr.fill]="datum.color"
        r="4"
      ></circle>
    </ng-container>
  </ng-container>
  <rect
    *ngIf="state === InteractionState.DRAG_ZOOMING"
    class="zoom-box"
    [attr.x]="zoomBoxInUiCoordinate.x"
    [attr.width]="zoomBoxInUiCoordinate.width"
    [attr.y]="zoomBoxInUiCoordinate.y"
    [attr.height]="zoomBoxInUiCoordinate.height"
  ></rect>
</svg>
<div class="zoom-instruction">
  <span class="instruction-content">Alt + Scroll to Zoom</span>
</div>
<div
  class="tooltip-origin"
  cdkOverlayOrigin
  #tooltipOrigin="cdkOverlayOrigin"
></div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayRefContainer"
  [cdkConnectedOverlayOpen]="tooltipDislayAttached && state === InteractionState.NONE"
  [cdkConnectedOverlayPositions]="tooltipPositions"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayLockPosition]="false"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayGrowAfterOpen]="true"
  (detach)="onTooltipDisplayDetached()"
>
  <table class="tooltip-container">
    <thead>
      <tr>
        <th class="circle-header"></th>
        <th>Run</th>
        <th>Value</th>
        <th>Step</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let datum of cursoredData; trackBy: trackBySeriesName"
      >
        <tr *ngIf="datum.point" class="tooltip-row">
          <td class="circle">
            <span [style.backgroundColor]="datum.color"></span>
          </td>
          <td>{{ datum.displayName }}</td>
          <td>{{ datum.point.y }}</td>
          <td>{{ datum.point.x }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>
